* {
    margin: 0;
    padding: 0;
    background-color: #FBFBF4;
    ;
}

.header {
    padding: 10px;
    background-color: green;
}

a{
    text-decoration: none;
}

header {
    color: white;
    text-align: center;
    background-color: black;
}

.footer {
    text-align: center;
    background-color: black;
    font-size: larger;
    padding-top: 20px;
    color: white;
    height: 50px;
    position: relative;
    margin-top: -100px;
    clear: both;
}

.left-content {
    float: left;
    text-align: center;
    background-color: #688B78;
    font-weight: bold;
    font-size: larger;
    padding-top: 50px;
    width: 200px;
    height: 600px;
}

.main-content {
    float: left;
    margin-left: 100px;
    margin-top: 70px;
}


span {
    text-align: center;
    font-size: 30px;
    margin-left: 380px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 30px;
    margin-left: 350px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


table {
    border: black;
}

th {
    padding: 10px 50px;
    background-color: violet;
}

td {
    background-color: #6FCCA9;
    padding: 30px;
    text-align: center;
}